/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #F0D9DA;  
    
    color: #303030;
    font-family: Trebuchet MS ;
}


main {
    margin: 0 auto;
    width: 900px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(146,168,209);
    text-align: center;
}


footer {
    clear: both;
    text-align: center;
    padding-bottom: 10px;
}

h3 {
    text-align: center;
    font-family: Script MT;
    color: #769FCD;
}

hr {
    clear: both;
}

.debut {
    text-align: left;
}

strong {
    background-color:#C8D9EB
}

.picture {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

#images{
    text-align:center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mansae {
    width: 250px;
}

.ot13 {
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.insta{
     color: #303030;
}

.insta:hover {
   color: #769FCD;
}

.youtubevideo {
    clear: both;
    width: 450px;
    height: 250px;
    margin-top: 20px;
    margin-left: 10px;
}

.songs {
    float: right;
    margin-right: 90px;
    margin-top: 25px;
}

.notalone {
    float: right;
    margin-right: 65px;
    margin-top: 25px;
}

.jump {
    color: grey;
    margin-left: 15px;
    text-align: center;
}

h2 {
    color: rgb(202, 132, 144);
    text-align: center;
}

/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.8em;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #B9CCED;
    overflow: hidden;
    text-align: center;
    
}

nav ul li {
    float: left;
    width: 20% ;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #F9ECEC;
    color: grey;
}

nav li a.active {
    background-color: #C8D9EB;
}




