/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #F0D9DA;  
    
    color: #303030;
    font-family: Trebuchet MS ;
}


main {
    margin: 0 auto;
    width: 900px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(146,168,209);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

h3 {
    text-align: center;
}

p {
    
}

.debut {
    text-align: left;
}

strong {
    background-color:#B9CCED
}

.rockwithyou {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.picture {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

#images{
    text-align:center;
}

.poweroflove {
    width: 250px;
    /*display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;*/
}

.mansae {
    width: 250px;
}

.ot13 {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.insta{
     color: #303030;
}

.insta:hover {
   color: #769FCD;
}


ul {
    
}

/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #B9CCED;
    overflow: hidden;
    text-align: center;
    
}

nav ul li {
    float: left;
    width: 20% ;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #F9ECEC;
    color: grey;
}

nav li a.active {
    background-color: #C8D9EB;
}




