/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #F0D9DA;  
    
    color: #303030;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(146,168,209);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

.debut {
    text-align: left;
}

strong {
    background-color:#B9CCED
}

.rockwithyou {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.poweroflove {

}

.mansae {
    
}

/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #B9CCED;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #F9ECEC;
}

nav li a.active {
    background-color: #C8D9EB;
}




